:root {
  --headerHeight: 88px;

}

:root {

  --footerHeight: 72px;
}

.auth-img {
  position: relative;
  height: calc(100vh - (var(--headerHeight) + var(--footerHeight)));

  img {
    position: absolute;
    padding-top: 88px;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}


.mobile {
  display: none;
}

@media screen and (max-width: $tablet) {
  .mobile {
    display: block;
  }

  .desk {
    display: none;
  }
}

@media screen and (max-width: $mobile) {}