.copyright-mini {
  padding-top: 27px;
  padding-bottom: 27px;
}

.item-left {
  @extend .caption;
  color: $black;
}

.copyright-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-right {
  display: flex;
  @extend .caption;
}

.right-item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

footer.mobile {
  display: none;
}

@media screen and (max-width: $tablet) {
  footer {
    display: none;
  }

  footer.mobile {
    display: flex;
    flex-direction: column;
  }

  .footer-items-noauth {
    flex-direction: column;
  }

  .accordion {
    background-color: $white;
    color: #444;
    cursor: default;

    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
  }

  .accordion.footer-menu-title {
    padding-top: 15px;
    border-top: 1px solid #f9faea;

    &:last-of-type {
      padding-bottom: 15px;
      border-bottom: 1px solid #f9faea;
    }
  }

  .accordion.footer-menu-title:last-of-type.show.active {
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
  }

  .active,
  .accordion:hover {
    background-color: $white;
  }

  .accordion:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-more.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .active:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
  }

  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-bottom: 1px solid #f9faea;
  }

  a.item-link {
    color: $dark-green;
  }

  .copyright {
    margin-top: 27px;
    margin-bottom: 103px;
  }

  .copyright-items {
    flex-direction: column;
  }

  .item-left {
    text-align: center;
    font-family: Inter;

    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    color: $dark-green;
    margin-bottom: 16px;
  }

  .right-item {
    margin-bottom: 16px;

    a {
      font-family: Inter;

      font-weight: 500;
      font-size: 11px;
      line-height: 120%;
      color: $dark-green;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .copyright-right {
    flex-direction: column;
    align-items: center;
  }

  .box-shadow {
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.07);
    position: fixed;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    background-color: $white;
  }

  .footer-right-items {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }

  .btn-retail.footer {
    padding-right: 28px;
    margin-right: 10px;
  }


  .btn-text.footer {
    align-items: center;
    position: relative;
    margin-right: 14px;
    pointer-events: none;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -25px;
      width: 12px;
      height: 12px;
      background-image: url("/src/assets/static/img/icon-expand-more-footer.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  .btn-text.footer.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@media screen and (max-width: $mobile) {}