.footer-items-noauth {
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
}
.footer-menu-title {
  @extend h5;
  color: $black;
  margin-bottom: 16px;
}
.footer-menu-item.cat a.item-link {
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
}
.footer-menu-item.cat a.item-link:hover {
  cursor: default;
  border-bottom: 1px solid $black;
  white-space: nowrap;
  &:first-child {
    width: 62%;
  }
  &:nth-child(2) {
    width: 67%;
  }
  &:nth-child(3) {
    width: 82%;
  }
}
.footer-menu-item.info a.item-link {
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
}
.footer-menu-item.info a.item-link:hover {
  cursor: default;
  border-bottom: 1px solid $black;
  white-space: nowrap;
  &:first-child {
    width: 58%;
  }
  &:nth-child(2) {
    width: 73%;
  }
  &:nth-child(3) {
    width: 100%;
  }
  &:nth-child(4) {
    width: 90%;
  }
  &:nth-child(5) {
    width: 47%;
  }
}
.footer-menu-item.account a.item-link {
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
}
.footer-menu-item.account a.item-link:hover {
  cursor: default;
  border-bottom: 1px solid $black;
  white-space: nowrap;
  &:first-child {
    width: 60%;
  }
}
.footer-buy-items {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.items-icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.items-text {
  color: $black;
}

.link-contacts {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}
.copyright {
  margin-top: 43px;
  margin-bottom: 43px;
}
.item-left {
  @extend .caption;
  color: $black;
}
.copyright-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-right {
  display: flex;
  @extend .caption;
}
.right-item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
footer.mobile {
  display: none;
}
@media screen and (max-width: $tablet) {
  footer {
    display: none;
  }
  footer.mobile {
    display: flex;
    flex-direction: column;
  }
  .footer-items-noauth {
    flex-direction: column;
  }

  .accordion {
    background-color: $white;
    color: #444;
    cursor: default;

    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
  }
  .accordion.footer-menu-title {
    padding-top: 15px;
    border-top: 1px solid #f9faea;
    &:last-of-type {
      padding-bottom: 15px;
      border-bottom: 1px solid #f9faea;
    }
  }

  .accordion.footer-menu-title:last-of-type.show.active {
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
  }
  .active,
  .accordion:hover {
    background-color: $white;
  }
  .accordion:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-more.svg");
  }

  .active:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-less.png");
  }
  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-bottom: 1px solid #f9faea;
  }

  a.item-link {
    color: $dark-green;
  }
  .copyright {
    margin-top: 27px;
    margin-bottom: 103px;
  }
  .copyright-items {
    flex-direction: column;
  }
  .item-left {
    text-align: center;
    font-family: Inter;

    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    color: $dark-green;
    margin-bottom: 16px;
  }
  .right-item {
    margin-bottom: 16px;

    a {
      font-family: Inter;

      font-weight: 500;
      font-size: 11px;
      line-height: 120%;
      color: $dark-green;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .copyright-right {
    flex-direction: column;
    align-items: center;
  }
  .box-shadow {
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.07);
  }
  .footer-right-items {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }
  .btn-retail.btn-text-secondary-arrow.footer {
    margin-right: 10px;
  }
  .btn-text.footer {
    white-space: nowrap;
    font-family: Inter;
    font-weight: 800;
    font-size: 11px;
    line-height: 100%;
    color: $dark-green;
    letter-spacing: 0.1em;

    text-transform: uppercase;
  }
  .btn-text-primary.footer {
    white-space: nowrap;
    padding: 8px 10px;
    font-family: Inter;
    font-weight: 800;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: $dark-green;
    border-radius: 32px;
    border: none;
  }
  .auth-arrow-footer {
    display: flex;
    align-items: center;

    position: relative;
  }
  .auth-arrow-footer:after {
    content: "";
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-more.svg");
  }

  .auth-arrow-footer.active:after {
    content: "";
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-less.png");
  }
}

@media screen and (max-width: $mobile) {
}
