.footer-items-noauth {
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
}
.footer-menu-title {
  @extend h5;
  color: $black;
  margin-bottom: 16px;
}
.footer-menu-item a.item-link {
  margin-bottom: 5px;
  border-bottom: 1px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    cursor: default;
    border-bottom: 1px solid $black;
    white-space: nowrap;
    max-width: max-content;
  }
}

.footer-buy-items {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.items-icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.items-text {
  color: $black;
}

.link-contacts {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}
.copyright {
  margin-top: 43px;
  margin-bottom: 43px;
}
.item-left {
  @extend .caption;
  color: $black;
}
.copyright-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-right {
  display: flex;
  @extend .caption;
}
.right-item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
footer.mobile {
  display: none;
}

@media screen and (max-width: $tablet) {
  footer {
    display: none;
  }
  footer.mobile {
    display: flex;
    flex-direction: column;
  }
  .footer-items-noauth {
    flex-direction: column;
  }

  .accordion {
    background-color: $white;
    color: #444;
    cursor: default;

    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
  }
  .accordion.footer-menu-title {
    padding-top: 15px;
    border-top: 1px solid #f9faea;
    &:last-of-type {
      padding-bottom: 15px;
      border-bottom: 1px solid #f9faea;
    }
  }

  .accordion.footer-menu-title:last-of-type.show.active {
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
  }
  .active,
  .accordion:hover {
    background-color: $white;
  }
  .accordion:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/static/img/icon-expand-more.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .active:after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
  }
  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-bottom: 1px solid #f9faea;
  }

  a.item-link {
    color: $dark-green;
  }
  .copyright {
    margin-top: 27px;
    margin-bottom: 103px;
  }
  .copyright-items {
    flex-direction: column;
  }
  .item-left {
    text-align: center;
    font-family: Inter;

    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    color: $dark-green;
    margin-bottom: 16px;
  }
  .right-item {
    margin-bottom: 16px;

    a {
      font-family: Inter;

      font-weight: 500;
      font-size: 11px;
      line-height: 120%;
      color: $dark-green;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .copyright-right {
    flex-direction: column;
    align-items: center;
  }
 
  .box-shadow {
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.07);
    position: fixed;
    bottom: 0;
    z-index: 10000;
    background-color: $white;

  }
  .submenuF {
    display: none;
    position: absolute;
    flex-direction: column-reverse;
    min-width: 240px;
    z-index: 200000;
    top: 0;
    left: 0;
    padding: 18px 0;
    box-shadow: 0px 8px 16px rgba(42, 51, 91, 0.16);
    border-radius: 16px;
    padding-bottom: 20px;
    transform: translateY(-200px);
    background-color: rgba(255, 255, 255, 1);
  }
  .showF {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 280px;
    transition: all 0.5s;
  }
  .footer-right-items {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }

  .btn-retail.footer {
    padding-right: 43px;
    margin-right: 10px;
  }
  .btn-textf.footer {
    white-space: nowrap;
    font-family: Inter;
    font-weight: 800;
    font-size: 11px;
    line-height: 100%;
    color: $dark-green;
    letter-spacing: 0.1em;
    position: relative;
    text-transform: uppercase;
  }

  .btn-textf.footer::after {
    content: "";
    background-image: url(/src/assets/static/img/icon-expand-more-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -30px;
    top: -6px;
    width: 24px;
    height: 24px;
  }

  .btn-textf.footer.activeF:after {
    content: "";

    transform: rotate(180deg);

    right: -30px;
    top: -6px;
    width: 24px;
    height: 24px;
  }
  .btn-text-primary.footer {
    white-space: nowrap;
    padding: 8px 10px;
    font-family: Inter;
    font-weight: 800;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: $dark-green;
    border-radius: 32px;
    border: none;
  }
}

@media screen and (max-width: $mobile) {
}
