header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}


.header-items-no-auth {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-items {
  position: relative;
}

.right-items {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 48px;
  height: 48px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo {
  width: 154px;
  height: 60px;
  position: absolute;
  top: -5px;
  left: 72px;
}

.btn-retail {
  margin-right: 48px;
}

.menu-mobile,
.logo-mobile {
  display: none;
}

.dropdown-noauth {
  position: relative;
  display: inline-block;
}

.no-auth-items {
  display: flex;
  align-items: center;
}

.submenu {
  display: none;
  position: absolute;
  flex-direction: column;
  min-width: 240px;
  padding: 18px 0;
  box-shadow: 0px 8px 16px rgba(236, 237, 241, .16);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;

  &.submenuF {
    bottom: 100%;
  }
}

.btn-text {
  align-items: center;
  position: relative;
  margin-right: 14px;
  pointer-events: none;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    width: 12px;
    height: 12px;
    background-image: url("/src/assets/static/img/icon-expand-more.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.btn-text.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -25px;
  width: 12px;
  height: 12px;
  background-image: url("/src/assets/static/img/icon-expand-less.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


.submenu-icon {
  display: flex;
  margin-right: 16px;
}

.submenu-items {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  margin-left: 10px;
  height: 40px;
  padding-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.submenu-items:hover {
  background: $light-green;
  border-radius: 8px;
  cursor: default;
  margin-right: 17px;
}

/*Header-auth
=================*/
.header-items-auth {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-compact {
  border: 2px solid $middle-green1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  width: 247px;
  height: 48px;

  margin-left: 231px;
}

input {
  font-family: Inter;

  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  color: $dark-green;

  &:focus {
    width: 233px;
  }
}

[type="search"] {
  border: none;
  outline: none;
  margin-left: 25px;
}

.search-compact img {
  margin-right: 10px;
}

.left-items {
  display: flex;
  align-items: center;
}

.header-items-auth.right-items {
  display: flex;
  align-items: center;
}

.cup-icon {
  margin-right: 16px;
}

.icon-items {
  display: flex;
  align-items: center;
}

.icon-pic {
  margin-right: 14px;
}

.info-icons:hover,
.info-icons:focus {
  filter: drop-shadow(0px 8px 16px rgba(42, 51, 91, 0.16));
  border-radius: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 240px;
  filter: drop-shadow(0px 8px 24px rgba(42, 51, 91, 0.16));
  border-radius: 16px;
  padding: 18px 14px;
}

.dropdown-content a {
  font-family: Inter;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  white-space: nowrap;
  color: $black;
}

.dropdown-content a:hover {
  background: #eaece5;
  border-radius: 8px;
}

.show {
  display: flex;
}

.icon-arrow.active {
  display: inline-block;
  transition: transform 0.2s;
  transform: rotate(180deg);
}

.dropdown-content img {
  display: inline-block;
  margin-right: 16px;
}

.btn-primary-icon.btn-text-primary.mobile {
  display: none;
  margin-left: 22px;
  padding: 14.5px 17px 14.5px 58px;
  white-space: nowrap;
  align-items: center;
  font-size: 11px;
  position: relative;
}

.account-count {
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: $black;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  text-align: center;
  background-color: $white;
  line-height: 29px;
}

.footer-buy {
  display: flex;
}

@media screen and (max-width: $tablet) {

  .right-items,
  .logo {
    display: none;
  }

  .header-items-no-auth {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .menu-mobile,
  .logo-mobile {
    display: flex;
    z-index: 1000;
  }

  .menu-icon {
    margin-right: 16px;
  }

  .left-items {
    display: flex;
  }

  .search-compact {
    display: none;
  }

  .btn-primary-icon.btn-text-primary.mobile {
    display: flex;
  }

  .account-count {
    width: 29px;
    height: 29px;
    border-radius: 14.5px;
  }

  .menu-icon {
    width: 32px;
    height: 32px;

    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $mobile) {}