.menu-noauth {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0;
  position: fixed;
  height: 100vh;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  margin-top: 87px;
  transition: left 0.4s ease-in-out;
  transition: width;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.menu-wrapper {
  min-width: 287px;
  width: 100%;
}
.close-menu {
  display: none;
}
.menu-auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0;
  position: fixed;
  height: 100vh;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  margin-top: 87px;
  transition: left 0.4s ease-in-out;
  transition: width;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.show {
  display: flex;
  flex-direction: column;
  width: 287px;
  transition: ease all 0.5s;
}
.noauth-items {
  padding-top: 4px;
  margin-bottom: 21px;
  position: relative;
  margin-right: 16px;
  margin-left: 16px;

  &:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    border-bottom: 1px solid #eaece5;

    width: 100%;
  }
}
.noauth-items:last-child {
  padding-top: 4px;
  margin-bottom: 21px;
  position: relative;
  &:after {
    border-bottom: none;
  }
}
.menu-items-title {
  margin-bottom: 5px;
  padding-left: 6px;
}
.menu-items {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 6px;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-items:hover {
  background-color: $light-green;
  border-radius: 8px;
  cursor: default;
}
.menu-pic {
  margin-right: 14px;
  padding-left: 5px;
  height: 20px;
  width: 20px;
  position: relative;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.menu-text {
  color: $black;
}

.noauth-info {
  margin-top: 32px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #777c65;
  border-radius: 0;
  width: 2px;
  left: 2px;
  right: 2px;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.close-menu-auth {
  display: none;
}
@media screen and (max-width: $tablet) {
  .show {
    width: 100%;
  }

  .menu-noauth {
    margin-top: 0;
    padding-top: 10px;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    position: fixed;
  }
  .menu-auth {
    margin-top: 20px;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    position: fixed;
  }
  .close-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 25px;
  }
  .close-menu-auth {
    display: flex;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

@media screen and (max-width: $mobile) {
}
