$black: #3c3c3a;
$white: #fff;
$dark-green: #777c65;
$middle-green1: #a3ac9a;
$middle-green2: #f9faea;
$light-green: #eaece5;
$dark-grey: #1a1a1a;

$mobile: "899px";
$tablet: "1199px";
$desktop: "1599px";
$big-desktop: "1919px";
