.container-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-left{
  display: flex;
  width: calc(100% - 500px);
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper-column-right {
  width: calc(100% - 730px);
}
.column-right {
  position: sticky;
  top: 100px;
}
.column-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-right: -18px;
}
.column-item {
  height: 424px;
  background: #EAECE5;
  border-radius: 16px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.back-to-catalog{
  max-width: 163px;
  width: 100%;
}
.btc-all { 
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.btc-icon {
  width: 7.5px;
  height: 12px;
  margin-right: 12px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.btc-text {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 138%;
color: $dark-green;
}
.change-volume {
  margin-bottom: 30px;
}
.cv-items > h5 {
  margin-bottom: 25px;
}
.cv-tags {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
}
.label-volume {
  width: 90px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 16px;
  &::before {
  content: "";
  opacity: 0.5;
  visibility: visible;
  position: absolute;
  border: 2px solid $middle-green1;
  border-radius: 32px;
  width: 90px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  &:hover::before{
  opacity: 1;
  border-color: $black;
  color: $black;
  }
  &:checked {
      opacity: 1;
  border-color: $black;
  }
}
.input-volume {
  visibility: hidden;
  appearance: none;
  position: relative;
  width: 100%;
  height: 100%;
  &+span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cc-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $black;
  margin-bottom: 28px;
}
.change-color {
  margin-bottom: 48px;
}
.cc-radios {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}

label {
  width: 42px;
  height: 42px;
  margin: 2px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  position: relative;
  &.bordered {
    &::after {
       width: 100%;
       height: 100%;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       border: 1px solid $middle-green1;
       position: absolute;
       border-radius: 50%;
       content: "";
    }
  }
}
input {
  visibility: hidden;
  appearance: none;
  position: relative;
  width: 100%;
  height: 100%;
  &:after {
    visibility: visible;
    position: absolute;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: "";
  }
  &:before {
   content: "";
   opacity: 0;
   visibility: visible;
   position: absolute;
   border: 2px solid $dark-green;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  &:hover::before { 
    opacity: .5;
  }
  &:checked {
   &::before,
   &::after {
      opacity: 1;
   }
  }

}
  
.btn-secondary.detail {
  padding: 18px 108px;
  margin-bottom: 8px;
}
.ac-text {
font-family: Inter;
font-weight: 500;
font-size: 13px;
line-height: 138%;
text-align: center;
color: #777C65;
}

.ttx {
  width: 100%;
}
.ttx-border {
  border-top: 1px solid #F9FAEA;
  border-bottom: 1px solid #F9FAEA;
}
.ttx-char {
  display: flex;
  justify-content: space-between;
  color: $black;
}
.ttx-left {
  margin-right: 20px;
}
.ttx-left,
.ttx-right {
  width: 50%;
}

.video-container {
  padding-top: 0!important;
  position: relative;
  padding-top: 56.25%;
  &img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.benefits-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 32px;
}



// .color-radios {
//   display: flex;
//   flex-wrap: wrap;
//   margin: -2px;
//   label {
//      margin: 2px;
//      cursor: pointer;
//      display: inline-flex;
//      justify-content: center;
//      align-items: center;
//      border: 5px solid white;
//      width: 42px;
//      height: 42px;
//      border-radius: 50%;
//      position: relative;
//      user-select: none;
//      &.not-availabe {
//         input {
//            &::after {
//               mask-image: url(/src/assets/static/img/icon-close.svg);
//               opacity: 1;
//               background: $middle-green1;
//               width: 24px;
//               height: 24px;
//            }
//         }
//         &.contrast {
//            input {
//               &::after {
//                  background: $middle-green1;
//               }
//            }
//         }
//      }
//      &.bordered {
//         &::after {
//            width: 100%;
//            height: 100%;
//            top: 50%;
//            left: 50%;
//            transform: translate(-50%, -50%);
//            border: 1px solid $middle-green1;
//            position: absolute;
//            border-radius: 50%;
//            content: "";
//         }
//      }
    //  &:hover {
    //     input {
    //        &::before {
    //           opacity: 0.5;
    //        }
    //     }
    //  }
//      input {
//         cursor: pointer;
//         visibility: hidden;
//         position: relative;
//         width: 100%;
//         height: 100%;
//         appearance: none;
//         &::after {
//            visibility: visible;
//            position: absolute;
//            mask-size: contain;
//            mask-repeat: no-repeat;
//            mask-position: center;
//            width: 16px;
//            height: 16px;
//            top: 50%;
//            left: 50%;
//            transform: translate(-50%, -50%);
//            opacity: 0;
//            content: "";
//         }
//         &::before {
//            content: "";
//            opacity: 0;
//            visibility: visible;
//            position: absolute;
//            border: 2px solid $dark-green;
//            width: 42px;
//            height: 42px;
//            border-radius: 50%;
//            top: 50%;
//            left: 50%;
//            transform: translate(-50%, -50%);
//         }
//         &:checked {
//            &::before,
//            &::after {
//               opacity: 1;
//            }
//         }
//      }
//   }
// }





@media screen and (max-width: $tablet) {

}

@media screen and (max-width: $mobile) {
  
}