section {
  width: 100%;
  margin-bottom: 65px;

  h2 {
    color: $black;
    margin-bottom: 25px;

    &+.subtitle {
      margin-bottom: 25px;
      color: $black;
    }
  }
}

@media screen and (max-width: $tablet) {
  section {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: $mobile) {}