.products-stojo {
  margin-top: 90px;
  background: $light-green;
  padding-bottom: 92px;
  position: relative;
}
.section-title {
  color: $dark-grey;
  padding-top: 90px;
  margin-bottom: 16px;
}
.stojo-text.subtitle {
  color: $dark-grey;
  margin-bottom: 32px;
}
.tag {
  padding: 24px 40px;
  background: $white;
  display: inline-flex;
  border-radius: 55px;
  color: $black;
  margin-right: 16px;
  margin-bottom: 16px;

  &.text {
    padding: 18px 24px;
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $black;
  }
}
.tag:last-child {
  margin-right: 0;
}
.section-wrapper {
  display: inline-block;
  justify-content: space-between;
}
.section-left {
  width: 44%;
}
.section-right {
  position: absolute;
  bottom: -178px;
  right: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: $tablet) {
  .products-stojo {
    margin-top: 57px;
    background: $light-green;
    padding-bottom: 146px;
  }
  .section-wrapper {
    flex-direction: column;
    padding-bottom: 9px;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    padding-top: 40px;
    font-size: 24px;
  }
  .stojo-text {
    font-size: 15px;
    margin-bottom: 16px;
  }
  .section-left {
    width: 100%;
  }
  .section-right {
    width: 320px;
    height: 226px;
    position: absolute;
    bottom: -210px;
    right: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .tag {
    padding: 24px 40px;
    background: $white;
    display: inline-flex;
    border-radius: 55px;
    color: $black;
    margin-right: 8px;
    margin-bottom: 8px;

    &.text {
      padding: 14.5px 17.5px;
      font-family: Inter;
      font-weight: 800;
      font-size: 11px;
      line-height: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $black;
    }
  }
}

@media screen and (max-width: $mobile) {
}
