.catalog {
  margin-bottom: 40px;
}
.catalog-title {
  @extend h2;
  color: $black;
  margin-bottom: 40px;
}
.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 16px;
  margin-bottom: 18px;
}
.stojo-items {
  display: flex;
  justify-content: center;
  position: relative;

  &:hover {
    cursor: default;
  }
}
.catalogs-img {
  width: 289px;
  height: 420px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}
.catalog-group {
  display: flex;
  height: 100%;
  margin-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stojo-title {
  @extend h2;
  color: $white;
  text-align: center;
  margin-bottom: 246px;
  white-space: nowrap;
}
.catalog-btn {
  background-color: $white;
  padding: 16px 40px 16px 24px;
  border-radius: 32px;
}
.group-button {
  display: flex;
  align-items: center;
  position: relative;
}

.button-text {
  font-family: Inter;
  font-weight: 800;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $black;
  margin-right: 8px;
}

.button-icon {
  position: absolute;
  top: -6px;
  right: -20px;
  width: 12px;
  height: 12px;
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.catalog-btn:hover .button-text {
  color: $dark-green;
}
.catalog-btn:hover .button-icon svg path {
  fill: $dark-green;
}

.catalog-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.all-stojo {
  width: 895px;

  padding: 27px;
  text-align: center;
  border-radius: 16px;
  background-color: $light-green;
  &:hover {
    box-shadow: inset 0px 0px 160px rgba(0, 0, 0, 0.07);
  }
}
.all-jolli {
  width: 289px;

  text-align: center;
  border-radius: 16px;
  padding: 27px;
  background-color: $light-green;
  &:hover {
    box-shadow: inset 0px 0px 160px rgba(0, 0, 0, 0.07);
    cursor: default;
  }
}
@media screen and (max-width: $tablet) {
  .catalog-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;
  }
  .catalogs-img {
    object-fit: cover;
    width: 100%;
  }
  .stojo-items {
    width: 100%;
  }

  .catalog-btn {
    opacity: 0;
  }

  .all-stojo {
    margin-bottom: 8px;
  }
  .catalog-all {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .catalog-wrapper {
    margin-bottom: 8px;
  }
  .catalog-title {
    margin-bottom: 24px;
  }

  .all-stojo {
    min-width: 287px;
    width: 100%;
    padding: 19px;
    text-align: center;
    border-radius: 8px;
    background-color: $light-green;
  }
  .all-jolli {
    min-width: 287px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 19px;
    background-color: $light-green;
  }
}

@media screen and (max-width: $mobile) {
  .catalog-group {
    margin-top: 16px;
  }
  .stojo-title {
    font-size: 18px;
    margin-bottom: 90px;
  }
}
