.bottles {
  margin-top: 136px;
  margin-bottom: 64px;
}

.bottles-title {
  color: $dark-grey;
  margin-bottom: 32px;
}
.bottles-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
.bottles-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $light-green;
  border-radius: 16px;
  position: relative;
}

.bottles-colors {
  margin-bottom: 40px;
  @extend body;
  color: $dark-green;
}

.soon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  top: 39%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background: #777c65;
  opacity: 0.5;
  color: $white;
  font-size: 15px;
}
.bottles-name {
  margin-bottom: 5px;
}
.bottles-img {
  position: relative;
  margin: 0 auto;
  width: 194px;
  height: 240px;
  z-index: 1000;
}

.bottles-img img {
  position: absolute;
  left: 0;
  top: 0;
}
.bottles-img img.open {
  opacity: 1;
}
.bottles-img img.close {
  opacity: 0;
}
.bottles-img:hover img.open,
.bottles-items:hover .bottles-img img.open {
  opacity: 0;
}
.bottles-img:hover img.close,
.bottles-items:hover .bottles-img img.close {
  opacity: 1;
  pointer-events: none;
  transition: all 1s ease;
}
@media screen and (max-width: $tablet) {
  .bottles {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .bottles-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;
  }
  .bottles-wrapper a:nth-child(1) {
    grid-column: 1 / -1;
    .bottles-img {
      width: 160px;
      height: 197px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .bottles-items {
    border-radius: 8px;
    color: $dark-grey;
    font-size: 15px;
    line-height: 120%;
  }

  .bottles-colors {
    margin-bottom: 40px;
    @extend body;
    color: $dark-green;
  }

  .bottles-img {
    position: relative;
    margin: 0 auto;
    width: 94px;
    height: 117px;
    z-index: 1000;
  }
  .soon {
    border-radius: 32px;
    width: 64px;
    height: 64px;
    top: 33%;
    font-size: 14px;
  }
  .bottles-name {
    margin-bottom: 5px;
  }
  .bottles-colors {
    margin-bottom: 18px;
    font-size: 11px;
  }
  .bottles-title {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: $mobile) {
}
